/*------PROJETOS-FRONT--------------------------------------*/
.container-projetos {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #000;
    width: 235px;
    height:auto;
    text-align: center !important;
    margin: 0px auto;
    border-radius: 10px;
}

.projetos {  
    padding: 40px 0 40px;
}

.projeto.ativo{
    display: block;
}

.projeto img {
    
    border-radius: 10px;
    width: 235px;
    height: 395px;
}

.projeto .informacoes-projeto {
    background-color: #040203;
    position: absolute;
    top:0;
    width: 235px;
    height: 436px;
    font-weight: 600;
    opacity: 0;
    transition: 0.3s;
    padding-right: 4px;
    text-align: center;
    margin-top: 22.4rem;
    border-radius: 10px;
}

.container-projetos .projeto:hover .informacoes-projeto{
    opacity: 0.8;
    background-color: #000;
}

/*-------------------------------------------------------------------------------------------------------------*/

/*--- MODIFICADOR DO TAMANHO DOS ICONES DA AREA CONHECIMENTOS APRENDIDOS--------------------------------------*/
.icon-grid i {
    font-size: 54px;
    line-height: 1;
    transition: transform 0.2s ease;
  }
  
  .icon-grid i:hover {
    transform: scale(1.1);
  }

  .icon-grid i {
    display: inline-block; /* para garantir que transform funcione */
    font-size: 64px;
    line-height: 1;
    transition: transform 0.2s ease;
  }
  
  
  .custom-icon {
    height: 54px;
    width: auto;
    margin: 6px;
    transition: transform 0.2s ease;
  }
  
  .custom-icon:hover {
    transform: scale(1.1);
  }

  .devicon-streamlit-original {
    color: white; /* deixa branco */
  }

  /* Deixando responsivo os icones no modo mobile =D*/
  @media (max-width: 768px) {
    .icon-grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; /* ← centraliza o conteúdo */
      align-items: center;
      gap: 12px;
      padding: 0 12px; /* espaço nas bordas */
      text-align: center;
    }
  
    .icon-grid i,
    .icon-grid .custom-icon {
      font-size: 40px;
      height: 40px;
      margin: 4px;
    }
  }
  
  